<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Настройки</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item active">Настройки</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Безопасность</strong></h2>
      </div>
      <div class="body">
        <div class="example-container">
          <mat-form-field class="example-full-width">
            <mat-label>Имя пользователя</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Текущий пароль</mat-label>
            <input matInput type="password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Новый пароль</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Сохранить</button>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          <strong>Учётная запись</strong> </h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Имя</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Фамилия</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Город</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Почта</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Страна</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Адрес</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
