<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Мед. книжка</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item active">Мед. книжка</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2>
            <strong>Записи</strong>
          </h2>
        </div>
        <div class="body">
          <div class="container">
            <div class="row">
              <div class="col-md-10">
                <ul class="left-timeline">
                  <li>
                    <time class="left-time" datetime="2020-11-04T18:30"><span class="hidden"></span>
                      <span class="large"></span></time>
                    <div class="left-icon"><img src="assets/images/user/user1.jpg" alt="">
                    </div>
                    <div class="left-label empty"> <span>Нет активности</span> </div>
                  </li>
                
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/10/2020</span>
                      <span class="large">13:30</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user2.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Консультация</h4>
                      <h2>Консультация с <a href="#" onClick="return false;">Доктор Иван Грозный</a>
                      </h2>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">04/09/2020</span>
                      <span class="large">02:00 PM</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Рецепт</h4>
                      <p>Рецепт выписан <a href="#" onClick="return false;">Доктором Иваном Грозным</a></p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-pdf font-50 col-red"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-image font-50 col-brown"></i></a>
                        </div>
                      </div>
                      <p>
                        <span>
                          <i class="fa fa-paperclip"></i> 2 вложения — </span>
                        <a href="#" onClick="return false;">Скачать все</a>
                      </p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">03/09/2020</span>
                      <span class="large">10:30 PM</span> <span>One weeks ago</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Процедура очищения сосудов</h4>
                      <blockquote> Доп. информация</blockquote>
                      <p>Команда докторов</p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><img
                              src="assets/images/user/doctor1.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/main.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a>
                        </div>
                        <!-- <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig6.jpg" alt="" class="img-fluid img-thumbnail m-t-30">
                          </a> </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig7.jpg" alt="" class="img-fluid img-thumbnail m-t-30">
                          </a> </div> -->
                      </div>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">29/08/2020</span>
                      <span class="large">15:30</span> <span>Две недели назад</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user6.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Консультация</h4>
                      <h2>Консультация с <a href="#" onClick="return false;">Доктором Иваном Грозным</a>
                      </h2>
                      <blockquote>
                        <p class="blockquote blockquote-primary">
                          "Принято решение о проведении процедуры очистки сосудов."
                          <br>
                          <small>
                            - Доктор Иван Грозный
                          </small>
                        </p>
                      </blockquote>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">14:00</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Рецепт</h4>
                      <p>Выписан <a href="#" onClick="return false;">Доктором Иваном Грозным</a></p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-pdf font-50 col-red"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-image font-50 col-brown"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-archive font-50"></i></a>
                        </div>
                      </div>
                      <p>
                        <span>
                          <i class="fa fa-paperclip"></i> 3 вложения — </span>
                        <a href="#" onClick="return false;">Скачть всё</a> |
                      </p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">13:30</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user6.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Консультация</h4>
                      <h2>Консультация с <a href="#" onClick="return false;">Доктором Иваном Грозным</a>
                      </h2>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">12:13</span></time>
                    <div class="left-icon"><img src="assets/images/user/user7.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Обращение</h4>
                      <h2>Создание нового пациента с идентификатором: <a href="#" onClick="return false;">#ID56734</a>
                      </h2>
                      <p>Заполнение формы и выполнение стандартных процедур</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
