<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Платежи</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item active">Платежи</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Платежи</h2>

          </div>
          <div class="body">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th>Номер квитанции</th>
                      <th>Имя доктора</th>
                      <th>Дата</th>
                      <th>Стоимость</th>
                      <th>Налог</th>
                      <th>Скидка</th>
                      <th>Итого</th>
                      <th>Действия </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>#A348</td>
                      <td><a href="mailto:test@gmail.com"> Доктор Иван Грозный </a></td>
                      <td>25/08/2020 </td>
                      <td>800 руб.</td>
                      <td>10%</td>
                      <td>100 руб.</td>
                      <td>780 руб.</td>
                      <td>
                        <button mat-icon-button>
                          <mat-icon class="col-brown">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-green">visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-blue-grey">print</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>#A645</td>
                      <td><a href="mailto:test@gmail.com"> Доктор Джордано Бруно </a></td>
                      <td>29/08/2020 </td>
                      <td>500 руб.</td>
                      <td>10%</td>
                      <td>100 руб.</td>
                      <td>440 руб.</td>
                      <td>
                        <button mat-icon-button>
                          <mat-icon class="col-brown">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-green">visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-blue-grey">print</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>#A873</td>
                      <td><a href="mailto:test@gmail.com"> Доктор Иван Грозный</a></td>
                      <td>03/09/2020 </td>
                      <td>10000 руб.</td>
                      <td>10%</td>
                      <td>1000 руб.</td>
                      <td>9400 руб.</td>
                      <td>
                        <button mat-icon-button>
                          <mat-icon class="col-brown">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-green">visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-blue-grey">print</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>#A927</td>
                      <td><a href="mailto:test@gmail.com"> Доктор Иван Грозный </a></td>
                      <td>25/10/2020 </td>
                      <td>500 руб.</td>
                      <td>10%</td>
                      <td>100 руб.</td>
                      <td>440 руб.</td>
                      <td>
                        <button mat-icon-button>
                          <mat-icon class="col-brown">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-green">visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-blue-grey">print</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
