<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Факторный анализ</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item active">Анализ</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row" *ngIf="isloading == false">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{riskGroups[0].name}}</h5>
            <h2 class="text-right"><i class="fas fa-user-injured pull-left"></i><span>{{riskGroups[0].percent}}%</span></h2>
            <p class="m-b-0">{{riskGroups[0].factors}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{riskGroups[1].name}}</h5>
            <h2 class="text-right"><i class="far fa-calendar-check pull-left"></i><span>{{riskGroups[1].percent}}%</span></h2>
            <p class="m-b-0">{{riskGroups[1].factors}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{riskGroups[2].name}}</h5>
            <h2 class="text-right"><i class="fas fa-heartbeat pull-left"></i><span>{{riskGroups[2].percent}}%</span></h2>
            <p class="m-b-0">{{riskGroups[2].factors}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card4 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{riskGroups[3].name}}</h5>
            <h2 class="text-right"><i class="fas fa-heart pull-left"></i><span>{{riskGroups[3].percent}}%</span></h2>
            <p class="m-b-0">{{riskGroups[3].factors}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="isloading == false">
        <div class="card">
          <div class="header">
            <h2>Влияние факторов на ССЗ</h2>

          </div>
          <div class="body">
            <div style="text-align:center">
              <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
                [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
                [yaxis]="barChartOptions.yaxis" [legend]="barChartOptions.legend" [fill]="barChartOptions.fill"
                [stroke]="barChartOptions.stroke" [tooltip]="barChartOptions.tooltip" [xaxis]="barChartOptions.xaxis">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="isloading == false">
        <div class="card">
          <div class="header">
            <h2>Подверженость ССЗ от пола</h2>

          </div>
          <div class="body">
            <div style="text-align:center">
              <apx-chart [series]="barChart2Options.series" [chart]="barChart2Options.chart"
                [dataLabels]="barChart2Options.dataLabels" [plotOptions]="barChart2Options.plotOptions"
                [yaxis]="barChart2Options.yaxis" [legend]="barChart2Options.legend" [fill]="barChart2Options.fill"
                [stroke]="barChart2Options.stroke" [tooltip]="barChart2Options.tooltip" [xaxis]="barChart2Options.xaxis">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="isloading == false">
        <div class="card">
          <div class="header">
            <h2>
              Приём пациентов</h2>

          </div>
          <div class="body">
            <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
              [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
              [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
              [dataLabels]="areaChartOptions.dataLabels"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
