<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Общая аналитика</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item active">Аналитика</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-purple">
              <i class="material-icons align-middle">timeline</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Процент ССЗ<br> от других</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> 57%</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart1Data" [labels]="cardChart1Label"
              [options]="cardChart1" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-orange">
              <i class="material-icons align-middle">person_add</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Кол-во пациентов <br> с ССЗ, за год</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> 2588 чел</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data" [labels]="cardChart2Label"
              [options]="cardChart2" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-green">
              <i class="material-icons align-middle">medical_services</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Кол-во <br>профилактических <br> мероприятий за год</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> 23</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart3Data" [labels]="cardChart3Label"
              [options]="cardChart3" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-red">
              <i class="material-icons align-middle">error_outline</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Смертность<br> от ССЗ за год<br></h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> 1200 чел</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart4Data" [labels]="cardChart4Label"
              [options]="cardChart4" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>

    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="isloading == false">
        <div class="card">
          <div class="header">
            <h2>Динамика пациентов с ССЗ</h2>

          </div>
          <div class="body">
            <div style="text-align:center">
              <apx-chart [series]="radarChartOptions.series" [chart]="radarChartOptions.chart"
                [title]="radarChartOptions.title" [xaxis]="radarChartOptions.xaxis"></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="isloading == false">
        <div class="card">
          <div class="header">
            <h2>Профилактические меры</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Факторы</th>
                    <th>Профилактика</th>
                    <th>Статус</th>
                    <th>Влияние</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tr of preventions">
                    <td>{{tr.factors}}</td>
                    <td>{{tr.name}}</td>
                    <td>
                      <div class="badge" 
                      [class.col-yellow]="tr.status == 'в процессе'"
                      [class.col-green]="tr.status == 'завершено'"
                      >{{tr.status}}</div>
                    </td>
                    <td>{{tr.result_status}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Среднее время приёма пациента, мин</h2>

          </div>
          <div class="body">
            <div style="text-align:center">
              <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
                [xaxis]="areaChartOptions.xaxis" [title]="areaChartOptions.title"></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="isloading == false">
        <div class="card">
          <div class="header">
            <h2>Смертность от ССЗ, чел</h2>
          </div>
          <div class="body">
            <div style="text-align:center">
              <apx-chart [series]="barChart2Options.series" [chart]="barChart2Options.chart"
                [dataLabels]="barChart2Options.dataLabels" [plotOptions]="barChart2Options.plotOptions"
                [yaxis]="barChart2Options.yaxis" [xaxis]="barChart2Options.xaxis" [fill]="barChart2Options.fill"
                ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
