<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Анализ состояния</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item active">Анализ</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->

    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/heart-rate.png" alt="">
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Процент риска ССЗ</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0">63%</h3>
              </div>
            </div>
          </div>
          <div class="card-content ml-4 mb-3">
            <p class="m-b-0 d-flex">&nbsp;
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/blood-pressure.png" alt="">
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Давление</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0"> 120/70</h3>
              </div>
            </div>
          </div>
          <div class="card-content ml-4 mb-3">
            <p class="m-b-0 d-flex"><i class="material-icons col-green pr-2">trending_up</i> 10% выше чем в прошлом месяце
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/glucose.png" alt="">
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Уровень глюкозы</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0">5.4</h3>
              </div>
            </div>
          </div>
          <div class="card-content ml-4 mb-3">
            <p class="m-b-0 d-flex"><i class="material-icons col-green pr-2">trending_up</i> 12% выше чем в прошлом месяце
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/blood-count.png" alt="">
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">Холестерин</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0">6.8</h3>
              </div>
            </div>
          </div>
          <div class="card-content ml-4 mb-3">
            <p class="m-b-0 d-flex"><i class="material-icons col-orange pr-2">trending_down</i> 22% меньше чем в прошлом месяце
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card" style="min-height: 440px;">
          <div class="header">
            <h2>Влияние факторов</h2>

          </div>
          <div class="body">
            <apx-chart [series]="radialChartOptions.series" [chart]="radialChartOptions.chart"
              [plotOptions]="radialChartOptions.plotOptions" [labels]="radialChartOptions.labels"></apx-chart>
            <div class="text-center p-t-20">
              <div class="chart-note">
                <span class="dot bg-orange"></span>
                <span>Многодетный</span>
              </div>
              <div class="chart-note">
                <span class="dot bg-indigo"></span>
                <span>Город</span>
              </div>
              <div class="chart-note mr-0">
                <span class="dot bg-green"></span>
                <span>Жилая площадь</span>
              </div>
            </div>
            <div class="text-center p-t-20">
              &nbsp; <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card" style="min-height: 440px;">
          <div class="header">
            <h2>Анализы/Документы</h2>
          </div>
          <div class="body">
            <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
              <li class="report-list">
                <div class="media-body d-flex">
                  <i class="far fa-file-pdf file-style col-red font-20"></i>
                  <div class="media-title font-16">Анализ крови</div>
                </div>
                <div class="media-cta">
                  <td>
                    <i class="far fa-trash-alt"></i>
                    <i class="far fa-arrow-alt-circle-down"></i>
                  </td>
                </div>
              </li>
              <li class="report-list">
                <div class="media-body d-flex">
                  <i class="far fa-file-alt col-black font-20 file-style"></i>
                  <div class="media-title font-16">Назначения врача</div>
                </div>
                <div class="media-cta">
                  <td>
                    <i class="far fa-trash-alt"></i>
                    <i class="far fa-arrow-alt-circle-down"></i>
                  </td>
                </div>
              </li>
              <li class="report-list">
                <div class="media-body d-flex">
                  <i class="far fa-file-archive col-purple font-20 file-style"></i>
                  <div class="media-title font-16">МРТ диагностика</div>
                </div>
                <div class="media-cta">
                  <td>
                    <i class="far fa-trash-alt"></i>
                    <i class="far fa-arrow-alt-circle-down"></i>
                  </td>
                </div>
              </li>
              <li class="report-list">
                <div class="media-body d-flex">
                  <i class="far fa-file-pdf col-red font-20 file-style"></i>
                  <div class="media-title font-16">Анализ мочи</div>
                </div>
                <div class="media-cta">
                  <td>
                    <i class="far fa-trash-alt"></i>
                    <i class="far fa-arrow-alt-circle-down"></i>
                  </td>
                </div>
              </li>
              <li class="report-list">
                <div class="media-body d-flex">
                  <i class="far fa-file-image col-teal font-20 file-style"></i>
                  <div class="media-title font-16">ЭКГ</div>
                </div>
                <div class="media-cta">
                  <td>
                    <i class="far fa-trash-alt"></i>
                    <i class="far fa-arrow-alt-circle-down"></i>
                  </td>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card" style="min-height: 440px;">
          <div class="card-body">
            <div class="pull-left">
              <h6 class="text-muted">Пульс</h6>
              <h5>129 ударов в минуту <span class="text-muted font-12">(Средний)</span></h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="performanceRateChartOptions.series" [chart]="performanceRateChartOptions.chart"
                [xaxis]="performanceRateChartOptions.xaxis" [stroke]="performanceRateChartOptions.stroke"
                [colors]="performanceRateChartOptions.colors" [dataLabels]="performanceRateChartOptions.dataLabels"
                [legend]="performanceRateChartOptions.legend" [markers]="performanceRateChartOptions.markers"
                [grid]="performanceRateChartOptions.grid" [yaxis]="performanceRateChartOptions.yaxis"
                [tooltip]="performanceRateChartOptions.tooltip" [title]="performanceRateChartOptions.title"></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
