<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Рецепты</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item active">Рецепты</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Prescriptions</h2>

          </div>
          <div class="body">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Нименование</th>
                      <th>Кем назначено</th>
                      <th>Дата</th>
                      <th>Болезнь</th>
                      <th>Действия </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>#A348</td>
                      <td>Рецепт 1</td>
                      <td><a href="mailto:test@gmail.com"> Доктор Джордано Бруно </a></td>
                      <td>17/02/1600 </td>
                      <td>
                        <div class="badge col-red">Ожоги</div>
                      </td>
                      <td>
                        <button mat-icon-button>
                          <mat-icon class="col-brown">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-green">visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-orange">delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>#A645</td>
                      <td>Рецепт 2</td>
                      <td><a href="mailto:test@gmail.com"> Доктор Грозный Иван </a></td>
                      <td>27/11/2020 </td>
                      <td>
                        <div class="badge col-green">Отравление</div>
                      </td>
                      <td>
                        <button mat-icon-button>
                          <mat-icon class="col-brown">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-green">visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-orange">delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>#A873</td>
                      <td>Рецепт 3</td>
                      <td><a href="mailto:test@gmail.com"> Доктор Ахилес </a></td>
                      <td>27/11/2020 </td>
                      <td>
                        <div class="badge col-purple">Травма ноги</div>
                      </td>
                      <td>
                        <button mat-icon-button>
                          <mat-icon class="col-brown">cloud_download</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-green">visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="col-orange">delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
