<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Чат</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i> Домой</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Приложения</a>
            </li>
            <li class="breadcrumb-item active">Чат</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="plist" class="people-list">
              <div class="form-line m-b-15">
                <input type="text" class="form-control" placeholder="Поиск..." />
              </div>
              <div class="tab-content">
                <div id="chat_user" style="position: relative; max-height: 590px;" [perfectScrollbar]>
                  <ul class="chat-list list-unstyled m-b-0">
                    <li class="clearfix active">
                      <img src="assets/images/user/user1.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Иван Иванов</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          Ушёл 7 мин назад </div>
                      </div>
                    </li>
                    <li class="clearfix ">
                      <img src="assets/images/user/user2.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Петр Петров</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user3.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Анна Иоановна</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user4.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Джонатан Свифт</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user5.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Альфред Нобель</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user6.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Джон Джонс</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          ушёл 30 мин. назад </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user7.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Борис Джонсон</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          ушёл 10 мин назад </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user8.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Елизавета Петровна</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user3.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Майкл Тайсон</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user4.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Анна Петровна</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user5.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Настасья Петровна</div>
                        <div class="status">
                          <i class="material-icons online">fiber_manual_record</i>
                          активный </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <img src="assets/images/user/user9.jpg" alt="avatar">
                      <div class="about">
                        <div class="name">Дэвид Бэкхем</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          не был с 28 октября </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix">
              <img src="assets/images/user/user2.jpg" alt="avatar">
              <div class="chat-about">
                <div class="chat-with">Маша Распутина</div>
                <div class="chat-num-messages">2 новых сообщения</div>
              </div>
            </div>
            <div class="chat-history" id="chat-conversation" style="position: relative; max-height: 449px;"
              [perfectScrollbar]>
              <ul>
                <li class="clearfix">
                  <div class="message-data text-right">
                    <span class="message-data-time">10:10, Сегодня
                    </span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">Маша Распутина</span>
                  </div>
                  <div class="message other-message float-right"> Привет Рома, как дела? Как твоя работа? </div>
                </li>
                <li>
                  <div class="message-data">
                    <span class="message-data-name">Рома </span>
                    <span class="message-data-time">10:12, Сегодня</span>
                  </div>
                  <div class="message my-message">
                    <p>Всё впорядке. Мы закончили научное исследование, оформляем пояснительную записку.</p>
                    <div class="row">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="message-data">
                    <span class="message-data-name">Рома </span>
                    <span class="message-data-time">10:12, Сегодня</span>
                  </div>
                  <div class="message my-message">
                    <p>Как ты себя чувтсвуешь сегодня? Что будешь делать в отпуске?</p>
                    <div class="row">
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data text-right">
                    <span class="message-data-time">10:10, Сегодня
                    </span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">Маша Распутина</span>
                  </div>
                  <div class="message other-message float-right"> Чувствую себя хорошо. В отпуске поеду на море.
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-message clearfix">
              <div class="form-group">
                <div class="form-line">
                  <mat-form-field class="example-full-width" appearance="outline"
                    [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="false">
                    <input matInput placeholder="Введите сообщение здесь" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="chat-upload">
                <button mat-mini-fab class="bg-deep-orange mr-2"> <i class="material-icons">attach_file</i></button>
                <button mat-mini-fab class="bg-deep-orange"> <i class="material-icons">insert_emoticon</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
